<header id="top-header">
    <div class="siteName">
      <a href="/" areial-label="CSE Motors Home" title="">CSE Motors</a>
    </div>
    <div cl="tools">
      <a href="/account/login">My Account</a>
    </div>
</header>